.react {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.react-project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center
}

.card {
    box-sizing: border-box !important;
    margin-bottom: 3rem !important;
    width: 20rem !important; 
} 

.native {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

